<!-- <script src="socket.io/socket.io.js"></script> -->
 <script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="js/chat.js"></script>
<div class="chat">
    <h3>Chat</h3>
</div>
