<section class="main-block">
    <div class="container">
        <h1>404 error</h1>
        <h2>Page not found</h2>
        <a href="/" class="back-to-main">Back to main page</a>
    </div>
</section>
