<section class="main-block">
    <div class="container">
        <h1>Some title of table</h1>
        <div class="temporary">
            <ul>
            <li>
                <a href="#" class="give-cards">Give Cards</a>
            </li>
            <li>
                <a href="#" class="move-dealer-rt">Move Dealer RT</a>
            </li>
            <li>
                <a href="#" class="move-dealer-rb">Move Dealer RB</a>
            </li>
            <li>
                <a href="#" class="move-dealer-lb">Move Dealer LB</a>
            </li>
            <li>
                <a href="#" class="move-dealer-lt">Move Dealer LT</a>
            </li>
            <li>
                <a href="#" class="chips-to-bank">Chips to bank</a>
            </li>
            <li>
                <a href="#" class="chips-left-top">Winner left top</a>
            </li>
            <li>
                <a href="#" class="chips-right-top">Winner right top</a>
            </li>
            <li>
                <a href="#" class="chips-right-bottom">Winner right bottom</a>
            </li>
            <li>
                <a href="#" class="chips-left-bottom">Winner left bottom</a>
            </li>
            </ul>

        </div>
        <div class="table-block">
            <div class="dealer">
                <img src="img/dealer.png" alt="dealer">
            </div>
            <div class="card-board">
                <div>
                    <img src="img/ace1.jpg" alt="card">
                </div>
                <div>
                    <img src="img/two1.jpg" alt="card">
                </div>

                <div>
                    <img src="img/three1.jpg" alt="card">
                </div>
            </div>
            <div class="bank-info">
                <div class="chips">
                    <img src="img/chip5.png" alt="chips">
                    <img src="img/chip1.png" alt="chips">
                    <img src="img/chip10.png" alt="chips">
                    <img src="img/chip5.png" alt="chips">
                    <img src="img/chip1.png" alt="chips">
                    <img src="img/chip10.png" alt="chips">
                    <img src="img/chip5.png" alt="chips">
                </div>
                <div class="bank-count">
                    <p>50$</p>
                </div>
            </div>
            <div class="player active player-top-left">
                <div class="player-icon">
                    <img src="img/player.jpg" alt="player">
                </div>
                <div class="nick-name">
                    <a href="#">Jack</a>
                </div>
                <div class="cards">
                    <img src="img/back-card-single.jpg" alt="cards">
                    <img src="img/back-card-single.jpg" alt="cards">
                </div>
                <div class="chips-player">
                    <div class="chips-icons">
                        <img src="img/chip5.png" alt="chips">
                        <img src="img/chip10.png" alt="chips">
                    </div>
                    <p>15$</p>
                </div>
                <div class="bank">
                    <p>550$</p>
                </div>
            </div>
            <div class="player player-top-right">
                <div class="player-icon">
                    <img src="img/player.jpg" alt="player">
                </div>
                <div class="nick-name">
                    <a href="#">Jack</a>
                </div>
                <div class="cards">
                    <img src="img/back-card-single.jpg" alt="cards">
                    <img src="img/back-card-single.jpg" alt="cards">
                </div>
                <div class="chips-player">
                    <div class="chips-icons">
                        <img src="img/chip1.png" alt="chips">
                    </div>
                    <p>15$</p>
                </div>
                <div class="bank">
                    <p>550$</p>
                </div>

            </div>
            <div class="player player-bottom-right">
                <div class="player-icon">
                    <img src="img/player.jpg" alt="player">
                </div>
                <div class="nick-name">
                    <a href="#">Jack</a>
                </div>
                <div class="cards">
                    <img src="img/back-card-single.jpg" alt="cards">
                    <img src="img/back-card-single.jpg" alt="cards">
                </div>
                <div class="chips-player">
                    <div class="chips-icons">
                        <img src="img/chip1.png" alt="chips">
                        <img src="img/chip1.png" alt="chips">
                    </div>
                    <p>15$</p>
                </div>
                <div class="bank">
                    <p>550$</p>
                </div>

            </div>
            <div class="player player-bottom-left">
                <div class="player-icon">
                    <img src="img/player.jpg" alt="player">
                </div>
                <div class="nick-name">
                    <a href="#">Jack</a>
                </div>
                <div class="cards">
                    <img src="img/back-card-single.jpg" alt="cards">
                    <img src="img/back-card-single.jpg" alt="cards">
                </div>
                <div class="chips-player">
                    <div class="chips-icons">
                        <img src="img/chip5.png" alt="chips">
                        <img src="img/chip5.png" alt="chips">
                        <img src="img/chip10.png" alt="chips">
                        <img src="img/chip10.png" class="ten" alt="chips">
                        <img src="img/chip10.png" class="ten" alt="chips">
                        <img src="img/chip5.png" alt="chips">
                        <img src="img/chip5.png" alt="chips">
                        <img src="img/chip10.png" alt="chips">
                        <img src="img/chip10.png" class="ten" alt="chips"><img src="img/chip5.png" alt="chips">
                        <img src="img/chip5.png" alt="chips">
                        <img src="img/chip10.png" alt="chips">

                    </div>
                    <p>15$</p>
                </div>
                <div class="bank">
                    <p>550$</p>
                </div>

            </div>
        </div>
        <div class="control-panel">
            <div style="position: relative; padding: 200px;">

                <div>
                    <input type="text" id="range" value="" name="range" />
                </div>

            </div>
            <div class="bottom-btns">
                <a href="#" class="fold">Fold</a>
                <a href="#" class="check-bet">Check</a>
                <a href="#" class="raise">Raise <span>20</span></a>
            </div>
        </div>
         <?include ../partials/chat ?>
    </div>
</section>
