<section class="main-block">

    <div class="container">
        <h1>Texas Holdem</h1>
        <ul class="icons-list">
            <li><a href="#">Learn</a></li>
            <li><a href="#">Train</a></li>
            <li><a href="#">Win</a></li>
        </ul>
        <h2>About Poker</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi error deserunt fuga consequuntur, placeat ducimus rem earum odit nesciunt, assumenda repudiandae ipsa quaerat nulla mollitia accusamus repellendus, alias quia aliquam.</p>
        <?if (partial=="start-game") {?>
            <?include ../partials/start-game ?>
        <?}?>
    </div>
</section>
