<section class="main-block">
    <div class="container">
        <h1>Profile</h1>
        <div class="profile-block">
            <div class="main-info">
                <form id="changeProfile">
                    <div class="user-icon">
                        <img src="img/player.jpg" alt="user">
                        <a href="#" class="upload-new">Upload new picture</a>
                    </div>
                    <p>Nick</p>
                    <input type="text" name="nick" 
                        <? if(user.local.nick){?>
                            value = "<?=user.local.nick?>"
                        <?}?>
                    >
                    
                    <p>Email</p>
                    <input type="text" name="email" value="<?=user.local.email?>">
                    <p>Password</p>
                    <input type="password" name="password">
                    <p>Password repeat</p>
                    <input type="password" name="password-repeat">

                    <p>First Name</p>
                    <input type="text" name="fname" 
                        <? if(user.local.fname){?>
                            value = "<?=user.local.fname?>"
                        <?}?>
                    >
                     <p>Last Name</p>
                    <input type="text" name="lname" 
                        <? if(user.local.lname){?>
                            value = "<?=user.local.lname?>"
                        <?}?>
                    >
                    <p>Phone</p>
                    <input type="text" name="phone" 
                        <? if(user.local.phone){?>
                            value = "<?=user.local.phone?>"
                        <?}?>
                    >
                    <p></p>
                    <input type="submit" value="Save" class="save-form">
                </form>
            </div>
        </div>
    </div>
</section>
