<section class="main-block">
    <div class="container">
        <h1>Profile</h1>
        <div class="profile-block">
            <div class="main-info">
                <form action="">
                    <div class="user-icon">
                        <img src="img/player.jpg" alt="user">
                        <a href="#" class="upload-new">Upload new picture</a>
                    </div>
                    <p>Name</p>
                    <input type="text" name="name" value="Lisovskiy Roman">
                    <p>Login</p>
                    <input type="text" name="login" value="Login">
                    <p>Email</p>
                    <input type="text" name="email" value="someemail@mail.ru">
                    <p>Password</p>
                    <input type="password" name="password">
                    <p>Password repeat</p>
                    <input type="password" name="password-repeat">
                    <p>Phone</p>
                    <input type="text" value="+380634564545">
                    <p></p>
                    <input type="button" value="Save" class="save-form">
                </form>
            </div>
        </div>
    </div>
</section>
