<section class="main-block">
    <div class="container">
        <h1>Rooms</h1>
        <div class="rooms-block">
            <table>
                <tr>
                    <th>List</th>
                    <th>Title</th>
                    <th>Players</th>
                    <th>Blinds</th>
                    <th>Join</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Some title of table</td>
                    <td>2/4</td>
                    <td>5-10</td>
                    <td><a href="#" class="join">Join</a></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Some title of table</td>
                    <td>2/4</td>
                    <td>5-10</td>
                    <td><a href="#" class="join">Join</a></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Some title of table</td>
                    <td>2/4</td>
                    <td>5-10</td>
                    <td><a href="#" class="join">Join</a></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Some title of table</td>
                    <td>2/4</td>
                    <td>5-10</td>
                    <td><a href="#" class="join">Join</a></td>
                </tr>
            </table>
        </div>
       
           <?include ../partials/start-game ?>
     
    </div>

</section>
